<header class="w-section__header">
    <div class="w-grid w-grid--row w-grid--gap" data-columns-count="1">
        <div class="w-grid__inner">
            <div class="w-grid__item w-grid__item--top">
                <div
                    class="w-grid__item-inner w-grid__item-panel w-text-center-xs w-text-center-sm w-text-center-md w-text-center w-088754deb0dd8820b733e12d9894218e">
                    <p class="text_1k0 ui-blockTitle w-title" data-component="text">
                        <span style="display:block" class="w-text-block w-text-left ">
                            <span class="w-text-content">From Appetite to Profit</span>
                        </span>
                    </p>
                    <p class="text_1k0 ui-subtitle w-subtitle" data-component="text">
                        <span style="display:block" class="w-text-block w-text-left ">
                            <span class="w-text-content">Industry's <span style="font-weight:bold">#1</span> Restaurant
                                Media Network™ </span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>